			<div id="main">

				<section>

					<h2>よくいただく質問をまとめました</h2>

					<h3>使い方が分からないのですが、マニュアルはありますか？</h3>
					<p><%= link_to("ケアマネジャー様向けマニュアルはこちらを参考にしてください。",'/picot_care_manyu.pdf', target: "_blank") %></p>
					<p><%= link_to("ショートステイ事業所様向けマニュアルはこちらを参考にしてください。",'/picot_office_manyu.pdf', target: "_blank") %></p>

					<h3>予約を入力したら、それでショートステイは利用できますか？</h3>
					<p>予約を入力しただけでは、ショートステイは利用できません</p>
					<p>予約入力をすると、ショートステイ事業所に予約のデータが送信されます<br>
					その後、事業所側が承認するとショートステイの利用が確定されます</p>

					<h3>承認された予約データはキャンセルできますか？</h3>
					<p>承認された予約データはケアマネジャーさんが予約をキャンセルすることはできません<br>
					事業所に連絡をとって、承認をキャンセルして頂くと、予約データの取り消しができます。</p>

					<h3>人物写真について</h3>
					<p>人物の写真は登録しなくても、システムを利用することは可能です。<br>
					他者の写真を掲載する場合は、許可をいただくようにお願いいたします。</p>

					<h3>お問い合わせについて</h3>
					<p>お問合せについては<a href="contact.html">お問合せフォーム</a>をご利用ください。</p>


				</section>


			</div>
			<!--/#main-->
