			<div id="main">

				<section>

					<h2>プライバシーポリシー</h2>

					<h3>個人情報保護方針</h3>
					<p>株式会社グローバル（以下当法人という）はサービスを提供する上で、個人情報の取り扱いについて、
その重要性を深く認識し、適切な取得、利用及び提供を行うと共に、個人情報に関する権利を保証するために
本個人情報保護方針を定め、定める事項について実施致します。</p>
					<p>・当社は個人情報及び特定個人情報等の保護を統括する運営組織を確立するとともに情報管理統括責任者を定め、個人情報および特定個人情報等の適切な管理に努めます。
					<p>・当社は適切な個人情報の取得、利用、提供についての規則を定め、また、目的外の利用を行わないための措置を講じます。</P>
					<p>・当社では個人情報の取り扱いを外部に委託する場合には委託先に対する必要かつ適切な監督を行います。</p>
					<p>・当社は個人情報の漏洩、減失、き損等の防止ならびに是正に努めます。</p>
					<p>・当社は個人情報の取り扱いに関する苦情・相談等に対しては、専用の窓口を設けて迅速かつ誠実に対応し、その解決に努めます</p>
					<h2>個人情報の取扱いについて</h2>
					<p>当社は業務に伴いお客様の個人情報をお預かりしております。</p>
					<p>この文書は、個人情報保護法及びマイナンバー法に従い、業務上、当法人が入手する様々な個人情報の取り扱いについてご説明するものです。</p>
					<h3>当社が保有する個人情報</h3>
					<p>・アンケートやホームページに記載された個人情報（氏名、住所、電話番号、メールアドレス、写真等）お客様がご利用された、サービスの情報や、参加されたイベントの情報</p>
					<h3>個人情報及び特定個人情報保護管理</h3>
					<p>・当社では個人情報保護方針を定めるとともに個人情報保護法、マイナンバー法、その他法令、ガイドラインを遵守致します。
							また、従業員の教育、啓発に努め、個人情報保護意識の高揚を図ります。</p>
					<p>・お客様の個人情報及び特定個人情報等の管理にあたっては、取り扱い部門ごとに情報管理責任者を置き、適切な管理を行うと共に、
							外部への漏洩防止のために最大限の注意を払います。</p>
					<p>・外部からの不正アクセス、または滅失、き損などの危険に対しては適切かつ合理的なレベルの安全対策を実施します。</p>
					<p>・当社では個人情報保護法に基づく保有個人情報の利用目的の通知、開示、訂正（訂正・追加・削除）または
							利用停止等（利用停止・消去・第三者提供の停止）をご希望される場合には、
							下記のお問い合わせ窓口にてご連絡ください。所定の手続きをご案内の上、遅滞なくこれに応じます。</p>
					<p>・お問合せについては<a href="contact.html">【お問合せフォーム】</a>をご利用ください。</p>
					<h3>個人情報の利用目的</h3>
					<p>・当社では、取得した個人情報は当法人が行うセミナーやイベント、職業紹介の提供等の事業サービスを提供すること、
						また下記に述べる利用目的に必要な範囲で利用いたします。</p>
					<p>・当社が提供するサービスの向上を目的として、ご登録者へのご意見・ご感想の提供をお願いするため
						当社が提供するサービスの向上を目的としたお客様のユーザプロファイルの集計とその結果の分析
						職業紹介をはじめ当社が提供するサービスに関連したマーケティング情報の発信を目的としたお客様のユーザプロファイルの集計とその結果の分析
						当社が行う展示会やセミナー、各種事業サービス案内の送付
						当社が発行する記事作成等における取材の依頼と、別途ご同意いただいた場合の実施に関する連絡
						当法人が提供するサービスに関連した情報の電子メールによる提供</p>


					<h3>個人情報の第三者への提供</h3>

					<p>当法人が保有するお客様の個人情報は、以下の場合を除いてお客様の同意なく開示、提供することはありません。</p>
					<p>・あらかじめ本人に必要事項を明示、通知または公表し、同意を得ている場合</p>
					<p>・法令に基づき開示することが必要である場合</p>
					<p>・人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難であるとき</p>
					<p>・公衆衛生の向上または、児童の健全な育成の推進のために特に必要である場合であって、ご本人の同意を得ることが困難であるとき</p>
					<p>国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であってご本人の同意を得る事により当該事務の遂行に支障を及ぼす恐れがあるとき</p>

					<h3>法令、規範の遵守と見直し</h3>

					<p>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、
					本ポリシーの内容を適宜見直し、その改善に努めます。</p>

					<h3>ご質問及びご相談の窓口</h3>

					<p>個人情報に関する開示等及び苦情・相談に関しては下記の連絡先へお問い合わせください</p>
					<p>株式会社グローバル　<a href="contact.html">【お問合せフォーム】</a></p>


				</section>


			</div>
			<!--/#main-->
