<div id="main">

  <section>

    <h2>お知らせ一覧</h2>
    <% if @notices.present? %>
      <% @notices.each do |notice| %>
        <div class="list link">
          <h4>お知らせ番号　<%= notice.id %></h4>
          <p><%= link_to(notice.notice_text, notice.link_to, method: :GET) %></p>
          <p><%= button_to("お知らせ削除", uaccounts_notice_path(id: notice.id), method: :delete) %></p>
        </div>
      <% end %>
    <% else %>
      <p>お知らせはありません</p>
    <% end %>
  </section>

</div>
<!--/#main-->
