<p>こんにちは <%= @resource.email %>さん</p>

<p>パスワードを変更するためのリクエストが出ました。以下のリンクをクリックしてパスワードを変更してください</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えがなければ無視をしてください</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されませんので、ご注意ください</p>
